@import 'tailwindcss';
@theme {
    /* --font-display: "Satoshi", "sans-serif"; */
    --color-primary: oklch(41.12% 0.061 161.3);
    --color-base: oklch(94.4% 0.0307 81.75);
    --color-base-80: oklch(94.4% 0.0307 81.75 / 0.8);
  }